<p>pooh works!</p>
<div class="mainContent">
    <h1>Winnie The Pooh</h1>
    <p>more stuffs Lorem Ipsum has been the industry's standard dummy text
        ever since the 1500s, when an unknown printer took a galley of type
        and scrambled it to make a type specimen book. It has survived not
        only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with
        the release of Letraset sheets containing Lorem Ipsum passages, and more
        recently with desktop publishing software like Aldus PageMaker
        including versions of Lorem Ipsum.</p>
    <img src="./../../assets/images/hundredacrewood.png"
        alt="Game Map" class="gameBoard">
    <div class="interractiveParts">
        <div class="allOutput">
            <ul class="consoleOutputs">
                <li class="row">
                    unchanged. It was popularised in the 1960s with
                    the release of Letraset sheets containing Lorem I
                </li>
                <li class="row">
                    unchanged. It was popularised in the 1960s with
                    the release of Letraset sheets containing Lorem I
                </li>
                <li class="row">
                    unchanged. It was popularised in the 1960s with
                    the release of Letraset sheets containing Lorem I
                </li>
                <li class="row">
                    unchanged. It was popularised in the 1960s with
                    the release of Letraset sheets containing Lorem I
                </li>
                <li class="row">
                    unchanged. It was popularised in the 1960s with
                    the release of Letraset sheets containing Lorem I
                </li>
                <li class="row">
                    unchanged. It was popularised in the 1960s with
                    the release of Letraset sheets containing Lorem I
                </li>


            </ul>

        </div>
        <div class="allButtons">

            <div class="row">
                <a href="/north" class="dirButton">North</a>
            </div>

            <div class="row middleRow">
                <a href="/east" class="dirButton">East</a>
                <!-- <div class="compas"> -->
                <img class="compas"
                    src="./../../assets/images/compas.gif"
                    alt="compas img">
                <!-- </div> -->
                <a href="/west" class="dirButton">West</a>
            </div>
            <div class="row">
                <a href="/south" class="dirButton">South</a>
            </div>
        </div>

    </div>
</div>