* {
    /* outline: 1px dotted red; */
}
.header {
    text-align: center;
}
.header p {
    padding: 5px 20px;
}
#title{
    margin: 0px;
    padding: 15px;
    background-image: linear-gradient(to right bottom, rgba(9, 191, 236, 0.801), lightblue, lightblue);
}
.mainContent{
    text-align: center;
}
.gameContainer {
    vertical-align: middle;
    background-color: aquamarine;
}
.gameBoard {
    max-height: 616px;
    max-width: 500px;
    /* text-align: center; */
    margin: 0px auto;
    display: inline-block;
}
.allButtons{
    display: inline-block;
    text-align: center;
    margin: 0px auto;
    max-width: 304px;
}
.dirButton{
    text-decoration: none;
    border: 1px grey;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-weight: bolder;
    padding: 15px;
    display: inline-block;
}
.row{
    /* padding: 15px; */
    margin-top: 10px;
}
.compass{
    display: inline-block;
    vertical-align: middle;
    min-width: 25%;
}
.interactiveParts{
    display: inline-block;
}
.players-held-items{
    vertical-align: top;
    display: inline-block;
    max-width: 50%;
}
.holdingItem {
    height: 50px;
    margin: 5px 5px;
    /* display: inline-block; */
}
.consoleOutputs{
    list-style-type: none;
}
li{
    text-align: left;
    margin-left: -10%;
}
@media only screen and (min-width: 1001px) { /*phone*/
}
@media only screen and (min-width: 1301px) { /*comp screen*/
    
}
@media only screen and (min-width: 1701px) { /*large*/
    .header p{
        width: 1300px;
        margin: 0px auto;   

    }
    
}
